body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;   
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo padrão para botões */
.button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Estilo para botões ao passar o mouse */
.button:hover {
    background-color: #555;
}

/* Estilo específico para o botão "Voltar à Lista de Candidatos" */
.button.btn-voltar {
    background-color: #3498db;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo específico para o botão "Voltar à Lista de Candidatos" ao passar o mouse */
.button.btn-voltar:hover {
    background-color: #2980b9;
}

/* Estilo para botões de excluir */
.button.btn-excluir {
    background-color: #e74c3c; /* Vermelho para indicar perigo */
}

/* Estilo para botões de excluir ao passar o mouse */
.button.btn-excluir:hover {
    background-color: #c0392b; /* Tom mais escuro de vermelho ao passar o mouse */
}
